*~
*.cache
*.log
*.pid
tmp/**/*
.DS\_Store
db/cstore/**
doc/api
doc/app
doc/plugins
coverage/*
db/*.sqlite3
*.tmproj
document_temp/*
document_thumbnails/*
document_images/*
index/*
*.pdf
config/database.yml