body {margin:0;padding:0;background-color:#fafafa;font-family:"Lucida Sans Unicode","Georgia", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;}

.clear {clear:both;}
.hidden {}
#top {margin-bottom:25px;}

#pages {text-align:center; padding:0 5px;margin:0;float:left;padding:10px;}
#pages div {float:left;width:16px;}
#pages a {text-decoration:none;}
#pages img {cursor:pointer;}
#pages input {width:22px;display:block;text-align:center;font-size:1.1em;}

#top p {padding:0;padding-left:175px;display:inline;font-size:1.4em;margin-bottom:25px;}

#users {position:absolute;left:90px;z-index:100000000000000;}
#users {border:1px solid #aaa;border-top:0;padding:5px;background-color:#f1f1f1;-moz-border-radius: 7px;-webkit-border-radius: 7px;-moz-border-radius-topleft:0;-moz-border-radius-topright:0;-webkit-border-top-left-radius:0;-webkit-border-top-right-radius:0;}
#users-list {display:none;list-style:none;padding-left:10px;margin:5px;}

#tools { background-image:none; float:left;margin-left:0;padding-left:0;}


#tools {-moz-user-select:none;z-index:11;}
#tools div { z-index:11;width:40px;height:40px;margin:5px 12px;text-align:center;line-height:40px;border:1px solid #ddd;color: black;
	font-size:25px;font-family: "Courier New";font-weight:bold;background-color: #fff; background-repeat: no-repeat; background-position: center center; }
#tools div:hover { border:1px solid black; cursor:pointer;}

#tools div#cursor 	{background-image: url(/images/cursor.png);}
#tools div#pencil 	{background-image: url(/images/pencil.png);}
#tools div#line 	{background-image: url(/images/line.png);}
#tools div#square 	{background-image: url(/images/square.png);}
#tools div#circle 	{background-image: url(/images/circle.png);}
#tools div#text 	{background-image: url(/images/text.png);}
#tools div#eraser 	{background-image: url(/images/delete.png);}

#tools div#color 	{background-image: url(/images/color.png);}
#tools div#fill 	{background-image: url(/images/transparency.png);}
#tools div#thick 	{background-image: url(/images/thickness.png);}

#tools div.last {z-index:11;position:absolute;width:auto;height:auto;margin:0;line-height:auto;border:1px solid #aaa;background-color:#f1f1f1;-webkit-border-top-right-radius:7px;-webkit-border-bottom-right-radius:7px;-moz-border-radius-topright:7px;-moz-border-radius-bottomright:7px;}
#tools div.last div.square  {float:left;margin:5px 5px 5px 10px;}
#tools div.last div.picker {float:left;height:42px;margin:0;margin-right:5px;padding:5px;line-height:auto;border:0;background-color:transparent;display:none;z-index:40;}
#tools div#cl {margin-top:20px;}
#tools div#fl {margin-top:85px;}
#tools div#th {margin-top:151px;}
#tools div.selected {border:1px solid black;}
#tools div#color-dialog {width:87px;}
#tools div#color-dialog div {width:15px;height:15px;border:1px solid black;margin:2px;float:left; }

.tooltip { z-index:11;background-color:white;border:1px solid #ddd;color:#444; }
.tooltip span { font-size:0.8em; }
.tooltip .text { padding:.4ex .7ex .2ex; }

/* SLIDER DIALOGS */

#tools div.ui-slider {background: transparent url(images/slider-bg-1.png) no-repeat center center;padding:0px; height:25px;width:90px;z-index:41;}
#tools div.ui-slider-handle { z-index: 121;width: 10px;height: 20px; background: #555 url(images/0d0d0d_40x100_textures_02_glass_60.png) 0 50% repeat-x;position:absolute;margin-left:56px;margin-top:10px; }
#tools div.ui-slider-handle:hover { background: #0d0d0d url(images/0d0d0d_40x100_textures_02_glass_60.png) 0 50% repeat-x;border: 1px solid #dddddd; }
#tools div.ui-slider-handle-active, .ui-slider-handle-active:hover { background: #0d0d0d url(images/0d0d0d_40x100_textures_02_glass_60.png) 0 50% repeat-x;
	border: 1px solid #dddddd;}
#tools div.ui-slider-range {height: .8em;background: #fff ;
	border: 1px solid #595959;border-left: 0;border-right: 0;top: -1px;z-index:121; }

/* DRAWING STUFF */
textarea { font-size: 1.3em;font-family:"Verdana"; background: url(images/white65.png);z-index:50; }

.ui-wrapper {z-index: 220;}
.ui-resizable-handle {z-index:220;}


#protectiveLayer { position:absolute;left:60px;top:65px;border:1px solid #999; margin:0 50px 50px 25px; background-color:white;z-index:0;}
#svgElem { background:white; background-image:none; }

#svgElem, #svgElem * { -moz-user-select:none; }

#vmlElem{ z-index:0; position:absolute; left:80px;top:65px;margin:0;border:1px solid #999;float:left;}
