body { font-family:"Lucida Grande", "Georgia","Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;	margin:0;padding:0; }
ul, li {margin:0;padding:0;}
.right { float:right; }
.left {float:left;}
.center {margin:auto;}
.clear { clear:both; }
a img {border:0;}

/* HEADER */
#header { width:968px;height:100px;margin:auto; border:1px solid black;border-top:0;border-left:0;}
#header h1 {margin:0;background: transparent url(/images/layout/header.jpg) no-repeat scroll 0 0;}
#header h1 a {display:block; text-indent:-9999px;height:100px;width:440px;}

/* CONTENT */
#content { width:969px;margin:auto;}
#flash {font-size: 1.4em;display:block;float:right;margin-top:65px;padding-right:30px;color:#9eff91;}
#flash.bad {color:#ff4747;}

/* PANEL */
#big-panel {float:right; width:240px;border-left:1px solid #ddd;padding:0;}
#big-panel h6 {padding:10px 10px 10px 20px;margin:0;font-size:1.3em;display:block;background:transparent url(/images/layout/bg1.jpg) no-repeat scroll 0 0;border-right:1px solid #ddd;border-bottom:1px solid #ddd;}
#big-panel label {width:230px;padding:10px 0 0 10px;display:block;font-size:1.3em;color:#222;}
#big-panel input {width:224px;margin:5px 0 0 10px;display:block;font-size:1.3em;}
#big-panel span {width:230px;padding-left:10px;display:block;color:#222;font-size:0.9em;}
#big-panel input[type="submit"] {width:230px; margin-top:20px;}

div#login {margin-bottom:20px;}
#login label#remember {display:inline;}
#login input[type="checkbox"]{display:inline;width:inherit;}
#signup {padding-bottom:10px;}
#signup h6 {border-top:1px solid #ddd;}

#small-panel { 	width:948px; padding:10px; text-align:right;border-bottom:1px solid #ddd; background-color:#f2f2f2;}
#small-panel ul {display:inline;}
#small-panel ul li {display:inline;margin:10px;}

/* MAIN PAGE CONTENT */
#speech { font-size: 2em; text-align:center; padding:20px;width:727px;padding:0;background:transparent url(/images/layout/bg1.jpg) no-repeat scroll 0 0;border-bottom:1px solid #ddd;border-left:1px solid #ddd;}
#speech p {margin:0;padding:20px;}

#intro {width:727px;margin-top:10px;}
#intro p { margin:10px 10px 10px 10px; }
#intro ul {margin:30px;}

/* ESTO NO SE DONDE VAAAAAAA *********/
div#errorExplanation {float:right;width:550px;border:1px solid #ddd;padding:20px;background-color:#fafafa;}
div#errorExplanation ul li {list-style-image:url(/images/cross.png);}
/**************************************/

/* CONTROL PANEL */
#documents { float:left; width:480px;}
#groups {float:right; width:480px; text-align:right;}
.options div.section-head {font-size:1.7em;margin:0;display:block;width:480px;border-bottom:1px solid #ddd;height:45px;line-height:45px;}
.options h2 {padding:0 20px;}
.options p { padding:10px;}
#documents h2{text-align:right;font-size:1.2em;float:right;margin:0;}
#documents div.section-head a {float:left;text-decoration:none;padding:0 10px;border-left:1px solid #ddd;}
#documents div.section-head a:hover {background-color:#f2f2f2;border-right:1px solid #ddd;}

#groups h2{text-align:left;font-size:1.2em;float:left;margin:0;}
#groups div.section-head a {float:right;text-decoration:none;padding:0 10px;border-right:1px solid #ddd;}
#groups div.section-head a:hover {background-color:#f2f2f2;border-left:1px solid #ddd;}

#groups ul {border-left:1px solid #ddd; text-align:left;}

.options ul {display:block;margin:0;padding:0;list-style-type:none;}
.options ul li { border-right: 1px solid #444; text-align:right;}
.options ul li.odd {border-right:0;border-left:1px solid #444;text-align:left;}
.options ul li h5 { margin:0;background-color:#333;display:block;font-size:1.3em; text-align:center;}
.options ul li h5 a { color:#ff6600;text-decoration:none; display:block;padding:5px;border-bottom:2px solid #ddd;}
.options ul li h5 a:hover {border-bottom:2px dashed #f60;}
.options ul li p {padding:20px;display:block;margin:0;font-size:0.9em;font-style: italic;} 
.options ul li span {display:block; padding:10px;margin:0; }


/* GENERAL FOR FORMS */
h4 { display:block;width:948px;border-bottom:1px solid #ddd; margin:0;font-size:2em;text-align:center;padding:10px; }
div.form { width:550px;border-left:1px solid #ddd; }
div.form form {width:510px;display:block;padding:20px;}
div.extra { width:417px;border-right:1px solid #ddd;text-align:right;}
div.extra p, div.extra ul {padding:20px;margin:0;}

form.generic label {font-size:1.3em;}
form.generic span {margin-bottom:20px;}
form.generic input {display:block;width:510px;font-size:1.3em;}
form.generic textarea {display:block;width:510px;}
form.generic input[type="text"], form.generic textarea { margin:10px 0; }
form.generic input[type="radio"], form.generic input[type="checkbox"] {display:inline;width:auto;height:auto;}
form.generic input[type="file"] {width:auto;font-size:1em;display:inline;}

form.generic fieldset {display:block;width:476px;margin:0;padding:0;padding:15px;margin:30px 0;}
form.generic fieldset p {margin-top:0;}
form.generic fieldset input {width:476px;}
form.generic fieldset label {width:476px;}
form.generic fieldset span {width:476px;}
form.generic p {margin:10px;}
form.generic input[type="submit"] {width:60%;margin:auto;}

/* NEW DOCUMENT */
#new-doc div#board-options {width:446px;padding:15px;}
#new-doc div#board-options input {display:inline;width:100px;}

#permissions input {font-size:inherit;display:inline;}
#permissions input[type="button"] {width:120px;}
#permissions input[type="text"], #permissions select {width:300px;}
#permissions ul {list-style-type:none;padding-left:20px;}

#permissions div#users_list, #permissions div#groups_list {width:400px;border:1px solid #ddd; padding:15px;margin-bottom:30px;}

.extra div.option {width:357px;margin:10px 20px;padding:10px;border:1px solid #ddd;display:block;text-align:left;}
.extra div.option h3 {width:337px;margin:0;}
.extra div.option input[type="text"] {width:30px;text-align:center;}

.extra span {font-size:0.8em;}
.extra div.page-item {float:left;display:inline;margin:5px;text-align:center;}
.extra a img { border:1px solid #ddd; }
.extra div#doc-stats {border:1px solid #aaa;margin:20px;background-color:#ddd;}
.extra div#doc-stats ul {list-style-type:none;text-align:left;}

/* NEW GROUPS */
#new-group {width:600px; border: 1px solid #ddd; background-color: #fafafa; padding:0; float:right;}
#new-group form {width: 100%; marign:auto;padding:30px;}
#new-group form input, #new-group form textarea {width:90%;text-align:left;margin:5px auto;}
#new-group form input#create-group-button {text-align:center;}

#new-group-explanation {width:250px;float:right;text-align:right;border: 1px solid #ddd; background-color: #fafafa;margin-right:20px;}
#new-group-explanation p {padding:10px;margin:0;}

/* GROUP VIEW */
#group-view-left {width:440px; float:left;border: 1px solid #ddd; background-color: #fafafa;margin-right:20px;margin:20px;}
#group-view-left * {margin:10px;}
#group-view-right {width:440px; float:right;border: 1px solid #ddd; background-color: #fafafa;margin-right:20px;margin:20px;}
#group-view-right * {margin:10px;}
#group-view-right ul {list-style-type:none;margin:0; adding:0;}
#group-view-right ul li {font-size:1.3em;width: 60%;border-bottom: 1px solid #222;border-left:1px solid #222;padding:5px;}
#group-view-right img {margin:0;border:none;}

/* INVITATIONS */
#invitations {border: 2px solid #06f; background-color:#c6deff; margin-bottom:20px;}
#invitations * {padding:10px;margin:0;}

/* FOOTER */
#footer { width:100%;background-color: #222; color:#fff; text-align:center; font-size:0.9em; margin-top:10px;}
#footer p { padding:5px; margin:0px;}

