<h4>Editing Group</h4>
<div id="new-group" class="form left">
	<%= render :partial => "form" %>
</div>

<div class="extra right">
	<p>You can create a group to help you keep your friends organized. For example, you can give access to a document to a whole group, simplifying the process.</p>
</div>
