<% title "Documents >> Editing document \'#{@doc.title}\'"%>
<h4>Edit Document</h4>

<div id="new-doc" class="form left">
   	<% @url = {:action => 'update', :id => @doc.id} %>
   	<%= render :partial => 'form' %>
</div>

<div id="extra-stuff" class="extra right">
	<%= render :partial => 'pages' %>
</div>