<h4>New Document</h4>

<div id="new-doc" class="form left">
		<% @url = {:action => "create"} %>
		<%= render :partial => 'form' %>
</div>

<div class="extra right">
	<p>First, insert a title and description for your document.</p>
	<p>After this you will be able to select further options, like add background images for your pages or decide who can see it</p>
</div>