<h4>New Document</h4>

<div id="new-doc" class="form left">
		<% @action = 'create' %>
		<%= render :partial => 'form' %>
</div>

<div class="extra right">
	<p>Here should be an extra panel to "help"</p>
</div>