<% title " >> Welcome!"%>
<% if !logged_in? %>
	<div id="big-panel">
		<div id="login">
			<%= render :partial => "sessions/login"%>
		</div>
		<div id="signup">
			<%= render :partial => "sessions/signup" %>
		</div>
	</div>
<% end %>

<div id="speech">
<p>Drawme is a shared whiteboard online application focused towards helping you with your presentations.</p>
</div>

<div id="intro">
	<p>
		With drawme you will be able to:
		<ul>
			<li>Upload your documents</li>
			<li>Draw and write all over them</li>
			<li>Invite people to see exactly what you see</li>
			<li>Have other people draw all over your documents</li>
		</ul>
	</p>
	<p>
		Drawme is the perfect solutions for when you have to make a presentation but the rest of the people are not phisically with you. Talk with them over your favourite converence technology, and help your expositions with the tools we provide you. All with the highest level of privacy and security.
	</p>

	<p>Fill up the super-fast, super-simple form and start working straight away. No second steps, no activation, just these four fields:</p>
</div>
