<% if @documents.size > 0 %>
	<ul>
	<% for doc in @documents %>
		<li <%= cycle("","class=\"odd\"")%>>
			<h5><%= link_to doc.title, "/#{doc.id}"%></h5>
			<%= textile doc.description %>
		</li>
	<% end %>
	</ul>
<% else %>
	Sorry, there are no items.	
<% end %>