<% if current_user.invitations.length > 0 %>
<div id="invitations">
	<h3>You have been invited to some groups!</h3>
	<% for invitation in current_user.invitations do %>
		<%= "<p><strong>#{invitation.source.login}</strong> has invited you to the group: <strong>#{invitation.group.name}</strong>.
			Do you #{link_to 'accept', :controller => 'groups', :action => 'accept', :id => invitation.id}, 
			#{link_to 'reject', :controller => 'groups', :action => 'reject', :id => invitation.id}?</p>" %>
	<% end %>
</div>
<% end %>
<div class="clear"></div>

<div id="documents" class="options left">
	<%= render :partial => "your_documents"%>	
</div>

<div id="groups" class="options left">
	<%= render :partial => "your_groups"%>
</div>

<div id="others" class="options left">
	<%= render :partial => "all_documents"%>
	
</div>
<div class="clear"/>